Repository extralit/extralit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @extralit/sdk, @extralit/backend, @extralit/frontend, @extralit/ai, @extralit/infra, @extralit/docs, @extralit/core-team

fix: enable fail-fast strategy in CI workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: enable fail-fast strategy in CI workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: Remove PostCSS config from Nuxt and update imports and license headers
  argilla-frontend/nuxt.config.ts
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/search_engine/commons.py
Owners: @extralit/frontend, @extralit/backend

fix: Remove PostCSS config from Nuxt and update imports and license headers
  argilla-frontend/nuxt.config.ts
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/search_engine/commons.py
Owners: @extralit/frontend, @extralit/backend

fix: downgrade setup-miniconda to v2 and change miniforge variant to Mambaforge
  .github/workflows/argilla-v1.yml
Owners: @extralit/infra

fix: downgrade setup-miniconda to v2 and change miniforge variant to Mambaforge
  .github/workflows/argilla-v1.yml
Owners: @extralit/infra

Deployed 9236786 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/admin_guide/migrate_from_legacy_datasets/index.html
  latest/admin_guide/user/index.html
  latest/community/changelog/index.html
  latest/reference/argilla-server/configuration/index.html
  latest/reference/argilla/datasets/dataset_records/index.html
  latest/reference/argilla/search/index.html
  latest/reference/argilla/settings/fields/index.html
  latest/reference/argilla/settings/questions/index.html
  latest/reference/argilla/users/index.html
  latest/reference/argilla/workspaces/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: none

Deployed 9236786 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/admin_guide/migrate_from_legacy_datasets/index.html
  latest/admin_guide/user/index.html
  latest/community/changelog/index.html
  latest/reference/argilla-server/configuration/index.html
  latest/reference/argilla/datasets/dataset_records/index.html
  latest/reference/argilla/search/index.html
  latest/reference/argilla/settings/fields/index.html
  latest/reference/argilla/settings/questions/index.html
  latest/reference/argilla/users/index.html
  latest/reference/argilla/workspaces/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: none

fix: update setup-miniconda action to v3 and change miniforge variant to Miniforge3
  .github/workflows/argilla-v1.yml
Owners: @extralit/infra

fix: update setup-miniconda action to v3 and change miniforge variant to Miniforge3
  .github/workflows/argilla-v1.yml
Owners: @extralit/infra

feat: add translation for signin with provider in German
  argilla-frontend/translation/de.js
Owners: @extralit/frontend

feat: add translation for signin with provider in German
  argilla-frontend/translation/de.js
Owners: @extralit/frontend

fix: `argilla-v1` tests
  argilla-v1/environment_dev.yml
Owners: @extralit/sdk, @extralit/backend

chore: update Elasticsearch version to 8.17.0 across configurations
  .devcontainer/docker-compose/docker-compose.yml
  .github/workflows/argilla-server.yml
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
  argilla/docs/getting_started/development_setup.md
  examples/deployments/k8s/elasticsearch-deployment.yaml
  examples/deployments/k8s/helm/elasticsearch-helm.yaml
Owners: @extralit/infra, @extralit/docs, @extralit/sdk

chore: update Elasticsearch version to 8.17.0 across configurations
  .devcontainer/docker-compose/docker-compose.yml
  .github/workflows/argilla-server.yml
  argilla-frontend/CHANGELOG.md
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
  argilla/docs/getting_started/development_setup.md
  examples/deployments/k8s/elasticsearch-deployment.yaml
  examples/deployments/k8s/helm/elasticsearch-helm.yaml
Owners: @extralit/infra, @extralit/docs, @extralit/sdk

fix: `argilla-v1` tests
  argilla-v1/pyproject.toml
Owners: @extralit/sdk, @extralit/backend

feat: enhance test coverage reporting in CI workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

feat: enhance test coverage reporting in CI workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: update default image name in deploy workflow and adjust coverage report error handling
  .github/workflows/argilla-frontend.deploy-environment.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: update default image name in deploy workflow and adjust coverage report error handling
  .github/workflows/argilla-frontend.deploy-environment.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

feat: add test coverage reporting and update test scripts in CI workflows
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-v1.yml
  argilla-frontend/package.json
  codecov.yml
Owners: @extralit/infra, @extralit/frontend

feat: add test coverage reporting and update test scripts in CI workflows
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-v1.yml
  argilla-frontend/package.json
  codecov.yml
Owners: @extralit/infra, @extralit/frontend

fix: adjust test command options for improved performance and consistency
  .github/workflows/argilla.yml
  argilla-frontend/__mocks__/styleMock.js
  argilla-frontend/package.json
Owners: @extralit/infra, @extralit/frontend

fix: adjust test command options for improved performance and consistency
  .github/workflows/argilla.yml
  argilla-frontend/__mocks__/styleMock.js
  argilla-frontend/package.json
Owners: @extralit/infra, @extralit/frontend

feat: update codecov action to v5.4.3 and enhance test coverage commands
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

feat: update codecov action to v5.4.3 and enhance test coverage commands
  .github/workflows/argilla-frontend.yml
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

chore: remove outdated issue templates
  .github/ISSUE_TEMPLATE/add_documentation_report.yml
  .github/ISSUE_TEMPLATE/bug_python_deployment.yml
  .github/ISSUE_TEMPLATE/bug_ui_ux.yml
Owners: @extralit/infra

chore: remove outdated issue templates
  .github/ISSUE_TEMPLATE/add_documentation_report.yml
  .github/ISSUE_TEMPLATE/bug_python_deployment.yml
  .github/ISSUE_TEMPLATE/bug_ui_ux.yml
Owners: @extralit/infra

chore: remove outdated issue templates
  .github/ISSUE_TEMPLATE/add_documentation_report.yml
  .github/ISSUE_TEMPLATE/bug_python_deployment.yml
  .github/ISSUE_TEMPLATE/bug_ui_ux.yml
Owners: @extralit/infra

chore: remove outdated issue templates
  .github/ISSUE_TEMPLATE/add_documentation_report.yml
  .github/ISSUE_TEMPLATE/bug_python_deployment.yml
  .github/ISSUE_TEMPLATE/bug_ui_ux.yml
Owners: @extralit/infra

ci: Fixes #74, `argilla-frontend` tests for RenderTable and Records components with improved mocking and validation
  argilla-frontend/__mocks__/tabulator-tables.js
  argilla-frontend/components/base/base-render-table/renderTable.test.ts
  argilla-frontend/jest.config.js
  argilla-frontend/v1/domain/entities/record/RecordCriteria.test.ts
  argilla-frontend/v1/domain/entities/record/Records.test.ts
Owners: @extralit/frontend

ci: Fixes #74, `argilla-frontend` tests for RenderTable and Records components with improved mocking and validation
  argilla-frontend/__mocks__/tabulator-tables.js
  argilla-frontend/components/base/base-render-table/renderTable.test.ts
  argilla-frontend/jest.config.js
  argilla-frontend/v1/domain/entities/record/RecordCriteria.test.ts
  argilla-frontend/v1/domain/entities/record/Records.test.ts
Owners: @extralit/frontend

fix: `npm run build` errors due to accessing private prop
  argilla-frontend/v1/domain/entities/record/Records.test.ts
Owners: @extralit/frontend

fix: `npm run build` errors due to accessing private prop
  argilla-frontend/v1/domain/entities/record/Records.test.ts
Owners: @extralit/frontend

fix: correct spelling in docker image name and update Python requirements
  .github/workflows/argilla-frontend.yml
  argilla/pyproject.toml
  codecov.yml
Owners: @extralit/infra, @extralit/sdk

fix: correct spelling in docker image name and update Python requirements
  .github/workflows/argilla-frontend.yml
  argilla/pyproject.toml
  codecov.yml
Owners: @extralit/infra, @extralit/sdk

fix: update pyarrow dependency version to allow for broader compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update pyarrow dependency version to allow for broader compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

ci: use `uv` with `pdm install`
  .github/workflows/argilla.yml
Owners: @extralit/infra

ci: use `uv` with `pdm install`
  .github/workflows/argilla.yml
Owners: @extralit/infra

.github/CODEOWNERS:

# Extralit CODEOWNERS File
# Reference: https://docs.github.com/en/repositories/managing-your-work-on-github/about-code-owners

# This file determines who is automatically requested for review when someone
# opens a pull request that modifies code in different parts of the repository.
# The last matching pattern takes precedence.

# SDK and Core Extraction
/argilla/* @extralit/sdk
/argilla/src/**/* @extralit/sdk
/argilla/tests/**/* @extralit/sdk
/argilla/pyproject.toml @extralit/sdk
/argilla/pdm.lock @extralit/sdk

# Backend Server
/argilla-server/**/* @extralit/backend

# Frontend
/argilla-frontend/**/* @extralit/frontend

# Legacy compatibility layer
/argilla-v1/**/* @extralit/sdk @extralit/backend

# AI/ML-specific code
/argilla/src/extralit/{extraction,metrics,preprocessing,schema}/**/* @extralit/ai
/argilla/src/extralit/pipeline/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/server/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/storage/**/* @extralit/ai @extralit/backend

# Infrastructure and configuration
/.github/** @extralit/infra
/.devcontainer/** @extralit/infra
/docker/** @extralit/infra
*.Dockerfile @extralit/infra
Tiltfile @extralit/infra
codecov.yml @extralit/infra

# Documentation
*.md @extralit/docs
/argilla/docs/**/* @extralit/docs
/examples/**/* @extralit/docs @extralit/sdk

# Security and legal
/.github/CODEOWNERS @extralit/core-team
/SECURITY.md @extralit/core-team
/LICENSE @extralit/core-team
/CODE_OF_CONDUCT.md @extralit/core-team
