Repository extralit/extralit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @extralit/sdk, @extralit/backend, @extralit/frontend, @extralit/ai, @extralit/infra, @extralit/docs, @extralit/core-team

fix: set PDM_IGNORE_ACTIVE_VENV environment variable to bypass active virtual environment during installation and testing
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: set PDM_IGNORE_ACTIVE_VENV environment variable to bypass active virtual environment during installation and testing
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: remove --no-self option from pdm install command in workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: remove --no-self option from pdm install command in workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: update datasets dependency version to >=3.0.0
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update datasets dependency version to >=3.0.0
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: improve error handling in skip_on function for HfHubHTTPError
  .github/workflows/argilla.yml
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
Owners: @extralit/infra, @extralit/backend

fix: improve error handling in skip_on function for HfHubHTTPError
  .github/workflows/argilla.yml
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
Owners: @extralit/infra, @extralit/backend

fix: enhance skip_on decorator to accept exception type and improve error handling
  .github/workflows/argilla.yml
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
Owners: @extralit/infra, @extralit/backend

fix: enhance skip_on decorator to accept exception type and improve error handling
  .github/workflows/argilla.yml
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
Owners: @extralit/infra, @extralit/backend

fix: add caching for uv dependencies and improve cache configuration
  .github/workflows/argilla-server.yml
Owners: @extralit/infra

fix: add caching for uv dependencies and improve cache configuration
  .github/workflows/argilla-server.yml
Owners: @extralit/infra

fix: update spacy dependency for Python version compatibility
  .github/copilot-instructions.md
  argilla/pyproject.toml
Owners: @extralit/docs, @extralit/sdk

fix: update spacy dependency for Python version compatibility
  .github/copilot-instructions.md
  argilla/pyproject.toml
Owners: @extralit/docs, @extralit/sdk

fix: add GitHub Actions workflows for building and caching `argilla` and `argilla-server` packages
  .github/workflows/README.md
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla-server/.gitignore
  argilla/pyproject.toml
Owners: @extralit/docs, @extralit/infra, @extralit/backend, @extralit/sdk

fix: add GitHub Actions workflows for building and caching `argilla` and `argilla-server` packages
  .github/workflows/README.md
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla-server/.gitignore
  argilla/pyproject.toml
Owners: @extralit/docs, @extralit/infra, @extralit/backend, @extralit/sdk

fix: remove pdm.lock update command from workflow steps for argilla and argilla-server
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: remove pdm.lock update command from workflow steps for argilla and argilla-server
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: update Python version to 3.12 in argilla-server workflow
  .github/workflows/argilla-server.yml
Owners: @extralit/infra

fix: update Python version to 3.12 in argilla-server workflow
  .github/workflows/argilla-server.yml
Owners: @extralit/infra

fix: argilla-server test errors
  .github/workflows/argilla-server.yml
  argilla-server/pdm.lock
Owners: @extralit/infra, @extralit/backend

fix: argilla-server test errors
  .github/workflows/argilla-server.yml
  argilla-server/pdm.lock
Owners: @extralit/infra, @extralit/backend

fix: update dependencies and handling for Python 3.13 compatibility
  .github/workflows/argilla.yml
  argilla-server/.gitignore
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/backend, @extralit/sdk

fix: update dependencies and handling for Python 3.13 compatibility
  .github/workflows/argilla.yml
  argilla-server/.gitignore
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/backend, @extralit/sdk

fix: update spaCy dependency handling and enable virtual environment usage
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spaCy dependency handling and enable virtual environment usage
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: optimize caching and update uv installation steps in argilla workflow
  .github/workflows/argilla.yml
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/infra, @extralit/sdk

fix: optimize caching and update uv installation steps in argilla workflow
  .github/workflows/argilla.yml
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/infra, @extralit/sdk

fix: enhance caching and add test coverage command in argilla workflows
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla-server/pyproject.toml
Owners: @extralit/infra, @extralit/backend

fix: enhance caching and add test coverage command in argilla workflows
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla-server/pyproject.toml
Owners: @extralit/infra, @extralit/backend

fix: argilla.yml workflows
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: argilla.yml workflows
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: allow integration test fails in argilla workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: allow integration test fails in argilla workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: pyproject.toml deps and pytest verbosity
  argilla-server/pyproject.toml
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: pyproject.toml deps and pytest verbosity
  argilla-server/pyproject.toml
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: update argilla workflows for local storage and enhance test verbosity
  .github/workflows/argilla.yml
  argilla-server/pyproject.toml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/backend, @extralit/sdk

fix: update argilla workflows for local storage and enhance test verbosity
  .github/workflows/argilla.yml
  argilla-server/pyproject.toml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/backend, @extralit/sdk

fix: update spaCy and pyarrow version constraints in pyproject.toml
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spaCy and pyarrow version constraints in pyproject.toml
  argilla/pyproject.toml
Owners: @extralit/sdk

.github/CODEOWNERS:

# Extralit CODEOWNERS File
# Reference: https://docs.github.com/en/repositories/managing-your-work-on-github/about-code-owners

# This file determines who is automatically requested for review when someone
# opens a pull request that modifies code in different parts of the repository.
# The last matching pattern takes precedence.

# SDK and Core Extraction
/argilla/* @extralit/sdk
/argilla/src/**/* @extralit/sdk
/argilla/tests/**/* @extralit/sdk
/argilla/pyproject.toml @extralit/sdk
/argilla/pdm.lock @extralit/sdk

# Backend Server
/argilla-server/**/* @extralit/backend

# Frontend
/argilla-frontend/**/* @extralit/frontend

# Legacy compatibility layer
/argilla-v1/**/* @extralit/sdk @extralit/backend

# AI/ML-specific code
/argilla/src/extralit/{extraction,metrics,preprocessing,schema}/**/* @extralit/ai
/argilla/src/extralit/pipeline/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/server/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/storage/**/* @extralit/ai @extralit/backend

# Infrastructure and configuration
/.github/** @extralit/infra
/.devcontainer/** @extralit/infra
/docker/** @extralit/infra
*.Dockerfile @extralit/infra
Tiltfile @extralit/infra
codecov.yml @extralit/infra

# Documentation
*.md @extralit/docs
/argilla/docs/**/* @extralit/docs
/examples/**/* @extralit/docs @extralit/sdk

# Security and legal
/.github/CODEOWNERS @extralit/core-team
/SECURITY.md @extralit/core-team
/LICENSE @extralit/core-team
/CODE_OF_CONDUCT.md @extralit/core-team
