Repository extralit/extralit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @extralit/sdk, @extralit/backend, @extralit/frontend, @extralit/ai, @extralit/infra, @extralit/docs, @extralit/core-team

revert argilla python 3.13 deps
  argilla/pyproject.toml
Owners: @extralit/sdk

revert argilla python 3.13 deps
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update CLI command invocations to use 'extralit' instead of 'python -m argilla.cli'
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/test_live_server.py
Owners: @extralit/sdk

fix: update CLI command invocations to use 'extralit' instead of 'python -m argilla.cli'
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/test_live_server.py
Owners: @extralit/sdk

fix: argilla integration tests
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/test_live_server.py
Owners: @extralit/sdk

fix: argilla integration tests
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/test_live_server.py
Owners: @extralit/sdk

fix: update spaCy and spaCy-wheel version constraints for compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spaCy and spaCy-wheel version constraints for compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spaCy and spaCy-wheel version constraints for compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spaCy and spaCy-wheel version constraints for compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spaCy version constraints for compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spaCy version constraints for compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spaCy version constraints for compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spaCy version constraints for compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update documentation workflow to install uv and configure PDM
  .github/workflows/argilla.docs.yml
Owners: @extralit/infra

fix: update documentation workflow to install uv and configure PDM
  .github/workflows/argilla.docs.yml
Owners: @extralit/infra

fix: update documentation workflow to install uv and configure PDM
  .github/workflows/argilla.docs.yml
Owners: @extralit/infra

fix: update documentation workflow to install uv and configure PDM
  .github/workflows/argilla.docs.yml
Owners: @extralit/infra

fix: add path to workflow triggers for argilla documentation
  .github/workflows/argilla.docs.yml
Owners: @extralit/infra

fix: add path to workflow triggers for argilla documentation
  .github/workflows/argilla.docs.yml
Owners: @extralit/infra

fix: add path to workflow triggers for argilla documentation
  .github/workflows/argilla.docs.yml
Owners: @extralit/infra

fix: add path to workflow triggers for argilla documentation
  .github/workflows/argilla.docs.yml
Owners: @extralit/infra

fix: update documentation links fix: argilla.yml on python 3.13
  .github/workflows/argilla.yml
  argilla-frontend/docs/snippets/start_page.md
  argilla-frontend/translation/ja.js
  argilla/CHANGELOG.md
  argilla/docs/admin_guide/custom_fields.md
  argilla/docs/admin_guide/dataset.md
  argilla/docs/admin_guide/distribution.md
  argilla/docs/admin_guide/index.md
  argilla/docs/admin_guide/record.md
  argilla/docs/getting_started/quickstart.md
  argilla/docs/reference/argilla/datasets/dataset_records.md
  argilla/docs/user_guide/overview.md
  argilla/docs/user_guide/schema_definition.md
  argilla/mkdocs.yml
  examples/webhooks/basic-webhooks/README.md
Owners: @extralit/infra, @extralit/docs, @extralit/frontend, @extralit/sdk

fix: update documentation links fix: argilla.yml on python 3.13
  .github/workflows/argilla.yml
  argilla-frontend/docs/snippets/start_page.md
  argilla-frontend/translation/ja.js
  argilla/CHANGELOG.md
  argilla/docs/admin_guide/custom_fields.md
  argilla/docs/admin_guide/dataset.md
  argilla/docs/admin_guide/distribution.md
  argilla/docs/admin_guide/index.md
  argilla/docs/admin_guide/record.md
  argilla/docs/getting_started/quickstart.md
  argilla/docs/reference/argilla/datasets/dataset_records.md
  argilla/docs/user_guide/overview.md
  argilla/docs/user_guide/schema_definition.md
  argilla/mkdocs.yml
  examples/webhooks/basic-webhooks/README.md
Owners: @extralit/infra, @extralit/docs, @extralit/frontend, @extralit/sdk

fix: update documentation links fix: argilla.yml on python 3.13
  .github/workflows/argilla.yml
  argilla-frontend/docs/snippets/start_page.md
  argilla-frontend/translation/ja.js
  argilla/CHANGELOG.md
  argilla/docs/admin_guide/custom_fields.md
  argilla/docs/admin_guide/dataset.md
  argilla/docs/admin_guide/distribution.md
  argilla/docs/admin_guide/index.md
  argilla/docs/admin_guide/record.md
  argilla/docs/getting_started/quickstart.md
  argilla/docs/reference/argilla/datasets/dataset_records.md
  argilla/docs/user_guide/overview.md
  argilla/docs/user_guide/schema_definition.md
  argilla/mkdocs.yml
  examples/webhooks/basic-webhooks/README.md
Owners: @extralit/infra, @extralit/docs, @extralit/frontend, @extralit/sdk

fix: update documentation links fix: argilla.yml on python 3.13
  .github/workflows/argilla.yml
  argilla-frontend/docs/snippets/start_page.md
  argilla-frontend/translation/ja.js
  argilla/CHANGELOG.md
  argilla/docs/admin_guide/custom_fields.md
  argilla/docs/admin_guide/dataset.md
  argilla/docs/admin_guide/distribution.md
  argilla/docs/admin_guide/index.md
  argilla/docs/admin_guide/record.md
  argilla/docs/getting_started/quickstart.md
  argilla/docs/reference/argilla/datasets/dataset_records.md
  argilla/docs/user_guide/overview.md
  argilla/docs/user_guide/schema_definition.md
  argilla/mkdocs.yml
  examples/webhooks/basic-webhooks/README.md
Owners: @extralit/infra, @extralit/docs, @extralit/frontend, @extralit/sdk

Remove legacy docs and update image paths in documentation
  .github/workflows/argilla.yml
  argilla/docs/admin_guide/annotate.md
  argilla/docs/admin_guide/custom_fields.md
  argilla/docs/admin_guide/dataset.md
  argilla/docs/admin_guide/distribution.md
  argilla/docs/admin_guide/use_markdown_to_format_rich_content.md
  argilla/docs/community/developer.md
  argilla/docs/getting_started/quickstart.md
  docs/_source/conceptual_guides/data_model.md
  docs/_source/getting_started/argilla.md
  docs/_source/getting_started/installation/deployments/cloud_providers.md
  docs/_source/practical_guides/annotate_dataset.md
  docs/_source/practical_guides/collect_responses.md
  docs/_source/practical_guides/export_dataset.md
  docs/_source/practical_guides/fine_tune.md
  docs/_source/tutorials_and_integrations/integrations/add_sentence_transformers_embeddings_as_vectors.ipynb
  examples/deployments/README.md
Owners: @extralit/infra, @extralit/docs, @extralit/sdk

Remove legacy docs and update image paths in documentation
  .github/workflows/argilla.yml
  argilla-v1/README.md
  argilla/docs/admin_guide/annotate.md
  argilla/docs/admin_guide/custom_fields.md
  argilla/docs/admin_guide/dataset.md
  argilla/docs/admin_guide/distribution.md
  argilla/docs/admin_guide/use_markdown_to_format_rich_content.md
  argilla/docs/community/developer.md
  argilla/docs/getting_started/quickstart.md
  docs/_source/conceptual_guides/data_model.md
  docs/_source/getting_started/argilla.md
  docs/_source/getting_started/installation/deployments/cloud_providers.md
  docs/_source/practical_guides/annotate_dataset.md
  docs/_source/practical_guides/collect_responses.md
  docs/_source/practical_guides/export_dataset.md
  docs/_source/practical_guides/fine_tune.md
  docs/_source/tutorials_and_integrations/integrations/add_sentence_transformers_embeddings_as_vectors.ipynb
  examples/deployments/README.md
Owners: @extralit/infra, @extralit/docs, @extralit/sdk

Remove legacy docs and update image paths in documentation
  .github/workflows/argilla.yml
  argilla-v1/README.md
  argilla/docs/admin_guide/annotate.md
  argilla/docs/admin_guide/custom_fields.md
  argilla/docs/admin_guide/dataset.md
  argilla/docs/admin_guide/distribution.md
  argilla/docs/admin_guide/use_markdown_to_format_rich_content.md
  argilla/docs/community/developer.md
  argilla/docs/getting_started/quickstart.md
  docs/_source/conceptual_guides/data_model.md
  docs/_source/getting_started/argilla.md
  docs/_source/getting_started/installation/deployments/cloud_providers.md
  docs/_source/practical_guides/annotate_dataset.md
  docs/_source/practical_guides/collect_responses.md
  docs/_source/practical_guides/export_dataset.md
  docs/_source/practical_guides/fine_tune.md
  docs/_source/tutorials_and_integrations/integrations/add_sentence_transformers_embeddings_as_vectors.ipynb
  examples/deployments/README.md
Owners: @extralit/infra, @extralit/docs, @extralit/sdk

Remove legacy docs and update image paths in documentation
  .github/workflows/argilla.yml
  argilla/docs/admin_guide/annotate.md
  argilla/docs/admin_guide/custom_fields.md
  argilla/docs/admin_guide/dataset.md
  argilla/docs/admin_guide/distribution.md
  argilla/docs/admin_guide/use_markdown_to_format_rich_content.md
  argilla/docs/community/developer.md
  argilla/docs/getting_started/quickstart.md
  docs/_source/conceptual_guides/data_model.md
  docs/_source/getting_started/argilla.md
  docs/_source/getting_started/installation/deployments/cloud_providers.md
  docs/_source/practical_guides/annotate_dataset.md
  docs/_source/practical_guides/collect_responses.md
  docs/_source/practical_guides/export_dataset.md
  docs/_source/practical_guides/fine_tune.md
  docs/_source/tutorials_and_integrations/integrations/add_sentence_transformers_embeddings_as_vectors.ipynb
  examples/deployments/README.md
Owners: @extralit/infra, @extralit/docs, @extralit/sdk

Deployed 9e25216 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/annotate/index.html
  latest/admin_guide/custom_fields/index.html
  latest/admin_guide/dataset/index.html
  latest/admin_guide/distribution/index.html
  latest/admin_guide/use_markdown_to_format_rich_content/index.html
  latest/community/developer/index.html
  latest/getting_started/quickstart/index.html
  latest/search/search_index.json
Owners: none

Deployed 9e25216 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/annotate/index.html
  latest/admin_guide/custom_fields/index.html
  latest/admin_guide/dataset/index.html
  latest/admin_guide/distribution/index.html
  latest/admin_guide/use_markdown_to_format_rich_content/index.html
  latest/community/developer/index.html
  latest/getting_started/quickstart/index.html
  latest/search/search_index.json
Owners: none

fix: update spacy and pyarrow dependencies for Python version compatibility
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: update spacy and pyarrow dependencies for Python version compatibility
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: update spacy and pyarrow dependencies for Python version compatibility
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: update spacy and pyarrow dependencies for Python version compatibility
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: update spacy and pyarrow dependencies for Python version compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spacy and pyarrow dependencies for Python version compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spacy and pyarrow dependencies for Python version compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update spacy and pyarrow dependencies for Python version compatibility
  argilla/pyproject.toml
Owners: @extralit/sdk

.github/CODEOWNERS:

# Extralit CODEOWNERS File
# Reference: https://docs.github.com/en/repositories/managing-your-work-on-github/about-code-owners

# This file determines who is automatically requested for review when someone
# opens a pull request that modifies code in different parts of the repository.
# The last matching pattern takes precedence.

# SDK and Core Extraction
/argilla/* @extralit/sdk
/argilla/src/**/* @extralit/sdk
/argilla/tests/**/* @extralit/sdk
/argilla/pyproject.toml @extralit/sdk
/argilla/pdm.lock @extralit/sdk

# Backend Server
/argilla-server/**/* @extralit/backend

# Frontend
/argilla-frontend/**/* @extralit/frontend

# Legacy compatibility layer
/argilla-v1/**/* @extralit/sdk @extralit/backend

# AI/ML-specific code
/argilla/src/extralit/{extraction,metrics,preprocessing,schema}/**/* @extralit/ai
/argilla/src/extralit/pipeline/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/server/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/storage/**/* @extralit/ai @extralit/backend

# Infrastructure and configuration
/.github/** @extralit/infra
/.devcontainer/** @extralit/infra
/docker/** @extralit/infra
*.Dockerfile @extralit/infra
Tiltfile @extralit/infra
codecov.yml @extralit/infra

# Documentation
*.md @extralit/docs
/argilla/docs/**/* @extralit/docs
/examples/**/* @extralit/docs @extralit/sdk

# Security and legal
/.github/CODEOWNERS @extralit/core-team
/SECURITY.md @extralit/core-team
/LICENSE @extralit/core-team
/CODE_OF_CONDUCT.md @extralit/core-team
