Repository extralit/extralit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @extralit/sdk, @extralit/backend, @extralit/frontend, @extralit/ai, @extralit/infra, @extralit/docs, @extralit/core-team

.github/CODEOWNERS:

# Extralit CODEOWNERS File
# Reference: https://docs.github.com/en/repositories/managing-your-work-on-github/about-code-owners

# This file determines who is automatically requested for review when someone
# opens a pull request that modifies code in different parts of the repository.
# The last matching pattern takes precedence.

# SDK and Core Extraction
/argilla/* @extralit/sdk
/argilla/src/**/* @extralit/sdk
/argilla/tests/**/* @extralit/sdk
/argilla/pyproject.toml @extralit/sdk
/argilla/pdm.lock @extralit/sdk

# Backend Server
/argilla-server/**/* @extralit/backend

# Frontend
/argilla-frontend/**/* @extralit/frontend

# Legacy compatibility layer
/argilla-v1/**/* @extralit/sdk @extralit/backend

# AI/ML-specific code
/argilla/src/extralit/{extraction,metrics,preprocessing,schema}/**/* @extralit/ai
/argilla/src/extralit/pipeline/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/server/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/storage/**/* @extralit/ai @extralit/backend

# Infrastructure and configuration
/.github/** @extralit/infra
/.devcontainer/** @extralit/infra
/docker/** @extralit/infra
*.Dockerfile @extralit/infra
Tiltfile @extralit/infra
codecov.yml @extralit/infra

# Documentation
*.md @extralit/docs
/argilla/docs/**/* @extralit/docs
/examples/**/* @extralit/docs @extralit/sdk

# Security and legal
/.github/CODEOWNERS @extralit/core-team
/SECURITY.md @extralit/core-team
/LICENSE @extralit/core-team
/CODE_OF_CONDUCT.md @extralit/core-team

docs: remove unused pics
  argilla/docs/assets/images/admin_guide/annotate/bulk_view.png
  argilla/docs/assets/images/admin_guide/annotate/focus_view.png
  argilla/docs/assets/images/admin_guide/annotate/ui_overview.png
  argilla/docs/assets/images/admin_guide/dataset/float_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/guidelines.png
  argilla/docs/assets/images/admin_guide/dataset/guidelines_description.png
  argilla/docs/assets/images/admin_guide/dataset/integer_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/label_question.png
  argilla/docs/assets/images/admin_guide/dataset/multilabel_question.png
  argilla/docs/assets/images/admin_guide/dataset/ranking_question.png
  argilla/docs/assets/images/admin_guide/dataset/rating_question.png
  argilla/docs/assets/images/admin_guide/dataset/span_question.png
  argilla/docs/assets/images/admin_guide/dataset/term_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/text_question.png
  argilla/docs/assets/images/admin_guide/dataset/vectors.png
  argilla/docs/assets/images/admin_guide/distribution/taskdistribution.svg
  argilla/docs/assets/images/admin_guide/markdown/chat.png
  argilla/docs/assets/images/admin_guide/markdown/media.png
  argilla/docs/assets/images/how_to_guides/dataset/fields.png
Owners: @extralit/docs

docs: remove unused pics
  argilla/docs/assets/images/admin_guide/annotate/bulk_view.png
  argilla/docs/assets/images/admin_guide/annotate/focus_view.png
  argilla/docs/assets/images/admin_guide/annotate/ui_overview.png
  argilla/docs/assets/images/admin_guide/dataset/float_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/guidelines.png
  argilla/docs/assets/images/admin_guide/dataset/guidelines_description.png
  argilla/docs/assets/images/admin_guide/dataset/integer_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/label_question.png
  argilla/docs/assets/images/admin_guide/dataset/multilabel_question.png
  argilla/docs/assets/images/admin_guide/dataset/ranking_question.png
  argilla/docs/assets/images/admin_guide/dataset/rating_question.png
  argilla/docs/assets/images/admin_guide/dataset/span_question.png
  argilla/docs/assets/images/admin_guide/dataset/term_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/text_question.png
  argilla/docs/assets/images/admin_guide/dataset/vectors.png
  argilla/docs/assets/images/admin_guide/distribution/taskdistribution.svg
  argilla/docs/assets/images/admin_guide/markdown/chat.png
  argilla/docs/assets/images/admin_guide/markdown/media.png
  argilla/docs/assets/images/how_to_guides/dataset/fields.png
Owners: @extralit/docs

docs: remove unused pics
  argilla/docs/assets/images/admin_guide/annotate/bulk_view.png
  argilla/docs/assets/images/admin_guide/annotate/focus_view.png
  argilla/docs/assets/images/admin_guide/annotate/ui_overview.png
  argilla/docs/assets/images/admin_guide/dataset/float_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/guidelines.png
  argilla/docs/assets/images/admin_guide/dataset/guidelines_description.png
  argilla/docs/assets/images/admin_guide/dataset/integer_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/label_question.png
  argilla/docs/assets/images/admin_guide/dataset/multilabel_question.png
  argilla/docs/assets/images/admin_guide/dataset/ranking_question.png
  argilla/docs/assets/images/admin_guide/dataset/rating_question.png
  argilla/docs/assets/images/admin_guide/dataset/span_question.png
  argilla/docs/assets/images/admin_guide/dataset/term_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/text_question.png
  argilla/docs/assets/images/admin_guide/dataset/vectors.png
  argilla/docs/assets/images/admin_guide/distribution/taskdistribution.svg
  argilla/docs/assets/images/admin_guide/markdown/chat.png
  argilla/docs/assets/images/admin_guide/markdown/media.png
  argilla/docs/assets/images/how_to_guides/dataset/fields.png
Owners: @extralit/docs

docs: remove unused pics
  argilla/docs/assets/images/admin_guide/annotate/bulk_view.png
  argilla/docs/assets/images/admin_guide/annotate/focus_view.png
  argilla/docs/assets/images/admin_guide/annotate/ui_overview.png
  argilla/docs/assets/images/admin_guide/dataset/float_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/guidelines.png
  argilla/docs/assets/images/admin_guide/dataset/guidelines_description.png
  argilla/docs/assets/images/admin_guide/dataset/integer_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/label_question.png
  argilla/docs/assets/images/admin_guide/dataset/multilabel_question.png
  argilla/docs/assets/images/admin_guide/dataset/ranking_question.png
  argilla/docs/assets/images/admin_guide/dataset/rating_question.png
  argilla/docs/assets/images/admin_guide/dataset/span_question.png
  argilla/docs/assets/images/admin_guide/dataset/term_metadata.png
  argilla/docs/assets/images/admin_guide/dataset/text_question.png
  argilla/docs/assets/images/admin_guide/dataset/vectors.png
  argilla/docs/assets/images/admin_guide/distribution/taskdistribution.svg
  argilla/docs/assets/images/admin_guide/markdown/chat.png
  argilla/docs/assets/images/admin_guide/markdown/media.png
  argilla/docs/assets/images/how_to_guides/dataset/fields.png
Owners: @extralit/docs

Deployed a982edd to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/dataset/index.html
  latest/assets/images/admin_guide/annotate/bulk_view.png
  latest/assets/images/admin_guide/annotate/focus_view.png
  latest/assets/images/admin_guide/annotate/ui_overview.png
  latest/assets/images/admin_guide/dataset/float_metadata.png
  latest/assets/images/admin_guide/dataset/guidelines.png
  latest/assets/images/admin_guide/dataset/guidelines_description.png
  latest/assets/images/admin_guide/dataset/integer_metadata.png
  latest/assets/images/admin_guide/dataset/label_question.png
  latest/assets/images/admin_guide/dataset/multilabel_question.png
  latest/assets/images/admin_guide/dataset/ranking_question.png
  latest/assets/images/admin_guide/dataset/rating_question.png
  latest/assets/images/admin_guide/dataset/span_question.png
  latest/assets/images/admin_guide/dataset/term_metadata.png
  latest/assets/images/admin_guide/dataset/text_question.png
  latest/assets/images/admin_guide/dataset/vectors.png
  latest/assets/images/admin_guide/distribution/taskdistribution.svg
  latest/assets/images/admin_guide/markdown/chat.png
  latest/assets/images/admin_guide/markdown/media.png
  latest/assets/images/how_to_guides/dataset/fields.png
Owners: none

Deployed a982edd to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/dataset/index.html
  latest/assets/images/admin_guide/annotate/bulk_view.png
  latest/assets/images/admin_guide/annotate/focus_view.png
  latest/assets/images/admin_guide/annotate/ui_overview.png
  latest/assets/images/admin_guide/dataset/float_metadata.png
  latest/assets/images/admin_guide/dataset/guidelines.png
  latest/assets/images/admin_guide/dataset/guidelines_description.png
  latest/assets/images/admin_guide/dataset/integer_metadata.png
  latest/assets/images/admin_guide/dataset/label_question.png
  latest/assets/images/admin_guide/dataset/multilabel_question.png
  latest/assets/images/admin_guide/dataset/ranking_question.png
  latest/assets/images/admin_guide/dataset/rating_question.png
  latest/assets/images/admin_guide/dataset/span_question.png
  latest/assets/images/admin_guide/dataset/term_metadata.png
  latest/assets/images/admin_guide/dataset/text_question.png
  latest/assets/images/admin_guide/dataset/vectors.png
  latest/assets/images/admin_guide/distribution/taskdistribution.svg
  latest/assets/images/admin_guide/markdown/chat.png
  latest/assets/images/admin_guide/markdown/media.png
  latest/assets/images/how_to_guides/dataset/fields.png
Owners: none

fix: handle dataset not found errors in HF dataset tests
  argilla/tests/integration/test_export_dataset.py
  argilla/tests/integration/test_import_features.py
Owners: @extralit/sdk

fix: enhance test failure handling and update test commands to suppress warnings
  .github/workflows/argilla.yml
  argilla/pyproject.toml
  argilla/tests/test_live_server.py
Owners: @extralit/infra, @extralit/sdk

fix: improve dataset error handling and enhance record assertions in tests
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/sdk

feat: add unit tests for workspace files and schemas API, improve test configurations
  argilla/pdm.lock
  argilla/tests/extralit/conftest.py
  argilla/tests/unit/api/test_workspace_files_api.py
  argilla/tests/unit/api/test_workspace_schemas_api.py
Owners: @extralit/sdk

fix: add environment file configuration for Python testing in devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
Owners: @extralit/infra

ci: devcontainers configure pdm settings, update Python version to 3.12, and exclude PNG files from watcher
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/docker-compose/environment.yml
  .devcontainer/docker-compose/setup.sh
  .devcontainer/setup.sh
Owners: @extralit/infra

ci: `argilla-server` Dockerfile to use uv for installing server dependencies
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
Owners: @extralit/backend

fix: `argilla-hf-spaces` s3 env files
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/backend, @extralit/sdk

feat: enhance Document model and API schema for improved document handling
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
Owners: @extralit/backend, @extralit/sdk

docs: update Docker instructions in developer documentation
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/src/argilla_server/contexts/files.py
  argilla/docs/community/developer.md
  argilla/docs/getting_started/development_setup.md
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/docs, @extralit/backend, @extralit/sdk

feat: enhance document handling and workspace API
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/documents/list.py
  argilla/src/argilla/cli/files/list.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/integration/test_search_records.py
  argilla/tests/integration/test_workspace_documents.py
Owners: @extralit/docs, @extralit/backend, @extralit/sdk

fix: update unit tests for workspace files API
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
  argilla/tests/unit/api/test_workspace_files_api.py
Owners: @extralit/backend, @extralit/sdk

added changelogs
  argilla-server/CHANGELOG.md
  argilla/CHANGELOG.md
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/tests/unit/api/test_workspace_files_api.py
Owners: @extralit/docs, @extralit/sdk

[CI] Fixes argilla integration tests (#76)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/docker-compose/environment.yml
  .devcontainer/docker-compose/setup.sh
  .devcontainer/setup.sh
  .github/workflows/argilla.yml
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla/CHANGELOG.md
  argilla/docs/community/developer.md
  argilla/docs/getting_started/development_setup.md
  argilla/pdm.lock
  argilla/pyproject.toml
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/documents/list.py
  argilla/src/argilla/cli/files/list.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/tests/extralit/conftest.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/integration/test_export_dataset.py
  argilla/tests/integration/test_import_features.py
  argilla/tests/integration/test_search_records.py
  argilla/tests/integration/test_workspace_documents.py
  argilla/tests/test_live_server.py
  argilla/tests/unit/api/test_workspace_files_api.py
  argilla/tests/unit/api/test_workspace_schemas_api.py
Owners: @extralit/infra, @extralit/docs, @extralit/backend, @extralit/sdk

[CI] Fixes argilla integration tests (#76)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/docker-compose/environment.yml
  .devcontainer/docker-compose/setup.sh
  .devcontainer/setup.sh
  .github/workflows/argilla.yml
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla/CHANGELOG.md
  argilla/docs/community/developer.md
  argilla/docs/getting_started/development_setup.md
  argilla/pdm.lock
  argilla/pyproject.toml
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/documents/list.py
  argilla/src/argilla/cli/files/list.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/tests/extralit/conftest.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/integration/test_export_dataset.py
  argilla/tests/integration/test_import_features.py
  argilla/tests/integration/test_search_records.py
  argilla/tests/integration/test_workspace_documents.py
  argilla/tests/test_live_server.py
  argilla/tests/unit/api/test_workspace_files_api.py
  argilla/tests/unit/api/test_workspace_schemas_api.py
Owners: @extralit/infra, @extralit/docs, @extralit/backend, @extralit/sdk

[CI] Fixes argilla integration tests (#76)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/docker-compose/environment.yml
  .devcontainer/docker-compose/setup.sh
  .devcontainer/setup.sh
  .github/workflows/argilla.yml
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla/CHANGELOG.md
  argilla/docs/community/developer.md
  argilla/docs/getting_started/development_setup.md
  argilla/pdm.lock
  argilla/pyproject.toml
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/documents/list.py
  argilla/src/argilla/cli/files/list.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/tests/extralit/conftest.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/integration/test_export_dataset.py
  argilla/tests/integration/test_import_features.py
  argilla/tests/integration/test_search_records.py
  argilla/tests/integration/test_workspace_documents.py
  argilla/tests/test_live_server.py
  argilla/tests/unit/api/test_workspace_files_api.py
  argilla/tests/unit/api/test_workspace_schemas_api.py
Owners: @extralit/infra, @extralit/docs, @extralit/backend, @extralit/sdk

[CI] Fixes argilla integration tests (#76)
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/docker-compose/environment.yml
  .devcontainer/docker-compose/setup.sh
  .devcontainer/setup.sh
  .github/workflows/argilla.yml
  argilla-server/CHANGELOG.md
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla-server/docker/server/Dockerfile
  argilla-server/src/argilla_server/api/handlers/v1/documents.py
  argilla-server/src/argilla_server/api/schemas/v1/documents.py
  argilla-server/src/argilla_server/contexts/datasets.py
  argilla-server/src/argilla_server/contexts/files.py
  argilla/CHANGELOG.md
  argilla/docs/community/developer.md
  argilla/docs/getting_started/development_setup.md
  argilla/pdm.lock
  argilla/pyproject.toml
  argilla/src/argilla/_api/_workspaces.py
  argilla/src/argilla/_models/_documents.py
  argilla/src/argilla/cli/documents/add.py
  argilla/src/argilla/cli/documents/list.py
  argilla/src/argilla/cli/files/list.py
  argilla/src/argilla/cli/files/upload.py
  argilla/src/argilla/cli/rich.py
  argilla/src/argilla/workspaces/_resource.py
  argilla/tests/extralit/conftest.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/integration/test_export_dataset.py
  argilla/tests/integration/test_import_features.py
  argilla/tests/integration/test_search_records.py
  argilla/tests/integration/test_workspace_documents.py
  argilla/tests/test_live_server.py
  argilla/tests/unit/api/test_workspace_files_api.py
  argilla/tests/unit/api/test_workspace_schemas_api.py
Owners: @extralit/infra, @extralit/docs, @extralit/backend, @extralit/sdk

Deployed 12ddfa9 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/changelog/index.html
  latest/community/developer/index.html
  latest/getting_started/development_setup/index.html
  latest/reference/argilla/workspaces/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: none

Deployed 12ddfa9 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/community/changelog/index.html
  latest/community/developer/index.html
  latest/getting_started/development_setup/index.html
  latest/reference/argilla/workspaces/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: none

Update upgrading documentation and remove outdated quickstart notebook
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/docs/admin_guide/upgrading.md
  argilla/docs/notebooks/quickstart_workflow_feedback.ipynb
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/unit/api/test_workspace_files_api.py
Owners: @extralit/backend, @extralit/docs, @extralit/sdk

Update upgrading documentation and remove outdated quickstart notebook
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/docs/admin_guide/upgrading.md
  argilla/docs/notebooks/quickstart_workflow_feedback.ipynb
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/unit/api/test_workspace_files_api.py
Owners: @extralit/backend, @extralit/docs, @extralit/sdk

Update upgrading documentation and remove outdated quickstart notebook
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/docs/admin_guide/upgrading.md
  argilla/docs/notebooks/quickstart_workflow_feedback.ipynb
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/unit/api/test_workspace_files_api.py
Owners: @extralit/backend, @extralit/docs, @extralit/sdk

Update upgrading documentation and remove outdated quickstart notebook
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/docs/admin_guide/upgrading.md
  argilla/docs/notebooks/quickstart_workflow_feedback.ipynb
  argilla/src/argilla/cli/callback.py
  argilla/src/argilla/cli/schemas/__main__.py
  argilla/tests/integration/test_cli_commands.py
  argilla/tests/unit/api/test_workspace_files_api.py
Owners: @extralit/backend, @extralit/docs, @extralit/sdk

Deployed 9a24689 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/upgrading/index.html
  latest/assets/images/social/notebooks/quickstart_workflow_feedback.png
  latest/notebooks/quickstart_workflow_feedback/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: none

Deployed 9a24689 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/upgrading/index.html
  latest/assets/images/social/notebooks/quickstart_workflow_feedback.png
  latest/notebooks/quickstart_workflow_feedback/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: none

fix: revert `argilla-hf-spaces` dockerfile and fix tests
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/backend, @extralit/sdk

fix: revert `argilla-hf-spaces` dockerfile and fix tests
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/backend, @extralit/sdk

fix: revert `argilla-hf-spaces` dockerfile and fix tests
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/backend, @extralit/sdk

fix: revert `argilla-hf-spaces` dockerfile and fix tests
  argilla-server/docker/argilla-hf-spaces/Dockerfile
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/backend, @extralit/sdk

test: fix CLI command tests for schemas list and download
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/sdk

test: fix CLI command tests for schemas list and download
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/sdk

test: fix CLI command tests for schemas list and download
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/sdk

test: fix CLI command tests for schemas list and download
  argilla/tests/integration/test_cli_commands.py
Owners: @extralit/sdk

docs: update migration guide to reflect package name change from `argilla` to `extralit`
  argilla/docs/admin_guide/migrate_from_legacy_datasets.md
Owners: @extralit/docs
