Repository extralit/extralit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @extralit/sdk, @extralit/backend, @extralit/frontend, @extralit/ai, @extralit/infra, @extralit/docs, @extralit/core-team

docs: update migration guide to reflect package name change from `argilla` to `extralit`
  argilla/docs/admin_guide/migrate_from_legacy_datasets.md
Owners: @extralit/docs

docs: update migration guide to reflect package name change from `argilla` to `extralit`
  argilla/docs/admin_guide/migrate_from_legacy_datasets.md
Owners: @extralit/docs

docs: update migration guide to reflect package name change from `argilla` to `extralit`
  argilla/docs/admin_guide/migrate_from_legacy_datasets.md
Owners: @extralit/docs

Deployed 8d2c4b0 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/migrate_from_legacy_datasets/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: none

Deployed 8d2c4b0 to latest with MkDocs 1.6.1 and mike 2.1.3
  latest/admin_guide/migrate_from_legacy_datasets/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: none

ci: fix integration tests
  argilla/tests/integration/test_search_records.py
Owners: @extralit/sdk

ci: fix integration tests
  argilla/tests/integration/test_search_records.py
Owners: @extralit/sdk

ci: fix integration tests
  argilla/tests/integration/test_search_records.py
Owners: @extralit/sdk

ci: fix integration tests
  argilla/tests/integration/test_search_records.py
Owners: @extralit/sdk

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/api/schemas/v1/files.py
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/api/schemas/v1/files.py
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/api/schemas/v1/files.py
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/api/schemas/v1/files.py
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/contexts/files.py
  argilla/pyproject.toml
  argilla/tests/integration/test_search_records.py
Owners: @extralit/backend, @extralit/sdk

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/contexts/files.py
  argilla/pyproject.toml
  argilla/tests/integration/test_search_records.py
Owners: @extralit/backend, @extralit/sdk

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/contexts/files.py
  argilla/pyproject.toml
  argilla/tests/integration/test_search_records.py
Owners: @extralit/backend, @extralit/sdk

fix: pin minio version for `include_versions` arg error
  argilla-server/src/argilla_server/contexts/files.py
  argilla/pyproject.toml
  argilla/tests/integration/test_search_records.py
Owners: @extralit/backend, @extralit/sdk

fix: tests failures due to `HfHubHTTPError`
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/sdk

fix: tests failures due to `HfHubHTTPError`
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/sdk

fix: tests failures due to `HfHubHTTPError`
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/sdk

fix: tests failures due to `HfHubHTTPError`
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/sdk

fix: tests failures due to `HfHubHTTPError`
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/sdk

fix: tests failures due to `HfHubHTTPError`
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/sdk

fix: tests failures due to `HfHubHTTPError`
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/sdk

fix: tests failures due to `HfHubHTTPError`
  argilla/tests/integration/test_export_dataset.py
Owners: @extralit/sdk

Update README.md
  README.md
Owners: @extralit/docs

Update README.md
  README.md
Owners: @extralit/docs

Update README.md
  README.md
Owners: @extralit/docs

Update README.md
  README.md
Owners: @extralit/docs

Update README.md
  README.md
Owners: @extralit/docs

Update README.md
  README.md
Owners: @extralit/docs

Update README.md
  README.md
Owners: @extralit/docs

Update README.md
  README.md
Owners: @extralit/docs

chore: update devcontainer configurations to include new extensions for improved development experience
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/ui-design/devcontainer.json
Owners: @extralit/infra

chore: update devcontainer configurations to include new extensions for improved development experience
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/ui-design/devcontainer.json
Owners: @extralit/infra

chore: update devcontainer configurations to include new extensions for improved development experience
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/ui-design/devcontainer.json
Owners: @extralit/infra

chore: update devcontainer configurations to include new extensions for improved development experience
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose/devcontainer.json
  .devcontainer/ui-design/devcontainer.json
Owners: @extralit/infra

.github/CODEOWNERS:

# Extralit CODEOWNERS File
# Reference: https://docs.github.com/en/repositories/managing-your-work-on-github/about-code-owners

# This file determines who is automatically requested for review when someone
# opens a pull request that modifies code in different parts of the repository.
# The last matching pattern takes precedence.

# SDK and Core Extraction
/argilla/* @extralit/sdk
/argilla/src/**/* @extralit/sdk
/argilla/tests/**/* @extralit/sdk
/argilla/pyproject.toml @extralit/sdk
/argilla/pdm.lock @extralit/sdk

# Backend Server
/argilla-server/**/* @extralit/backend

# Frontend
/argilla-frontend/**/* @extralit/frontend

# Legacy compatibility layer
/argilla-v1/**/* @extralit/sdk @extralit/backend

# AI/ML-specific code
/argilla/src/extralit/{extraction,metrics,preprocessing,schema}/**/* @extralit/ai
/argilla/src/extralit/pipeline/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/server/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/storage/**/* @extralit/ai @extralit/backend

# Infrastructure and configuration
/.github/** @extralit/infra
/.devcontainer/** @extralit/infra
/docker/** @extralit/infra
*.Dockerfile @extralit/infra
Tiltfile @extralit/infra
codecov.yml @extralit/infra

# Documentation
*.md @extralit/docs
/argilla/docs/**/* @extralit/docs
/examples/**/* @extralit/docs @extralit/sdk

# Security and legal
/.github/CODEOWNERS @extralit/core-team
/SECURITY.md @extralit/core-team
/LICENSE @extralit/core-team
/CODE_OF_CONDUCT.md @extralit/core-team
