Repository Extralit/extralit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @extralit/core-team, @extralit/contributors, @extralit/sdk, @extralit/backend, @extralit/frontend, @extralit/ai, @extralit/infra, @extralit/docs

Update CITATION.cff
  CITATION.cff
Owners: @extralit/core-team

Update CITATION.cff
  CITATION.cff
Owners: @extralit/core-team

Update CITATION.cff
  CITATION.cff
Owners: @extralit/core-team

Update CITATION.cff
  CITATION.cff
Owners: @extralit/core-team

Create scorecard.yml
  .github/workflows/scorecard.yml
Owners: @extralit/infra

Create scorecard.yml
  .github/workflows/scorecard.yml
Owners: @extralit/infra

Create scorecard.yml
  .github/workflows/scorecard.yml
Owners: @extralit/infra

Create scorecard.yml
  .github/workflows/scorecard.yml
Owners: @extralit/infra

Update scorecard.yml
  .github/workflows/scorecard.yml
Owners: @extralit/infra

Update scorecard.yml
  .github/workflows/scorecard.yml
Owners: @extralit/infra

Update scorecard.yml
  .github/workflows/scorecard.yml
Owners: @extralit/infra

Update scorecard.yml
  .github/workflows/scorecard.yml
Owners: @extralit/infra

ci: added precommit hooks to devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Owners: @extralit/infra

ci: added precommit hooks to devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Owners: @extralit/infra

ci: added precommit hooks to devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Owners: @extralit/infra

ci: added precommit hooks to devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Owners: @extralit/infra

docs: update developer documentation
  argilla/docs/community/developer.md
Owners: @extralit/docs

docs: update developer documentation
  argilla/docs/community/developer.md
Owners: @extralit/docs

docs: update developer documentation
  argilla/docs/community/developer.md
Owners: @extralit/docs

docs: update developer documentation
  argilla/docs/community/developer.md
Owners: @extralit/docs

Deployed 8ecfde1 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/community/developer/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: @extralit/core-team

Deployed 8ecfde1 to latest with MkDocs 1.6.0 and mike 2.1.3
  latest/community/developer/index.html
  latest/search/search_index.json
  latest/sitemap.xml
  latest/sitemap.xml.gz
Owners: @extralit/core-team

setup ini
  .devcontainer/docker-compose/docker-compose.yml
  argilla-server/.env.dev
  argilla-server/argilla-dev.db
  argilla-server/pdm.lock
  argilla/pdm.lock
Owners: @extralit/infra, @extralit/backend, @extralit/sdk

added docker compose yaml in root
  docker-compose.yaml
Owners: @extralit/core-team

added creds in docker
  docker-compose.yaml
Owners: @extralit/core-team

docs: update Docker commands in upgrading and development setup documentation
  argilla/docs/admin_guide/upgrading.md
  argilla/docs/getting_started/development_setup.md
Owners: @extralit/docs

chore: added issue labels
  .github/labels.yml
Owners: @extralit/infra

chore: added issue labels
  .github/labels.yml
Owners: @extralit/infra

chore: added issue labels
  .github/labels.yml
Owners: @extralit/infra

chore: added issue labels
  .github/labels.yml
Owners: @extralit/infra

Create FUNDING.yml
  .github/FUNDING.yml
Owners: @extralit/infra

Create FUNDING.yml
  .github/FUNDING.yml
Owners: @extralit/infra

Create FUNDING.yml
  .github/FUNDING.yml
Owners: @extralit/infra

Create FUNDING.yml
  .github/FUNDING.yml
Owners: @extralit/infra

feat: add 'refactor' label for code refactoring and technical debt improvements
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/labels.yml
Owners: @extralit/infra

feat: add 'refactor' label for code refactoring and technical debt improvements
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/labels.yml
Owners: @extralit/infra

feat: add 'refactor' label for code refactoring and technical debt improvements
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/labels.yml
Owners: @extralit/infra

feat: add 'refactor' label for code refactoring and technical debt improvements
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/labels.yml
Owners: @extralit/infra

chore: update issue templates to include `type` field for better categorization
  .github/ISSUE_TEMPLATE/bug-python-deployment.yml
  .github/ISSUE_TEMPLATE/bug-ui-ux.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Owners: @extralit/infra

chore: update issue templates to include `type` field for better categorization
  .github/ISSUE_TEMPLATE/bug-python-deployment.yml
  .github/ISSUE_TEMPLATE/bug-ui-ux.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Owners: @extralit/infra

.github/CODEOWNERS:

# Extralit CODEOWNERS File
# Reference: https://docs.github.com/en/repositories/managing-your-work-on-github/about-code-owners

# This file determines who is automatically requested for review when someone
# opens a pull request that modifies code in different parts of the repository.
# The last matching pattern takes precedence.

# Default owners for everything (fallback)
* @extralit/core-team
/argilla/**/* @extralit/contributors
/argilla-server/**/* @extralit/contributors
/argilla-v1/**/* @extralit/contributors

# Python SDK (general files)
/argilla/*.py @extralit/sdk
/argilla/pyproject.toml @extralit/sdk
/argilla/pdm.lock @extralit/sdk

# Python SDK (source and tests)
/argilla/src/**/* @extralit/sdk
/argilla/tests/**/* @extralit/sdk

# Backend Server
/argilla-server/**/* @extralit/backend

# Frontend
/argilla-frontend/**/* @extralit/frontend

# Legacy compatibility layer
/argilla-v1/**/* @extralit/sdk @extralit/backend

# AI/ML-specific code (more specific paths take precedence)
/argilla/src/extralit/extraction/**/* @extralit/ai
/argilla/src/extralit/extraction/**/* @extralit/ai
/argilla/src/extralit/metrics/**/* @extralit/ai
/argilla/src/extralit/preprocessing/**/* @extralit/ai
/argilla/src/extralit/schema/**/* @extralit/ai

# AI services
/argilla/src/extralit/pipeline/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/server/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/storage/**/* @extralit/ai @extralit/backend

# Core infrastructure and configuration files
/.github/workflows/**/* @extralit/infra
/.github/ @extralit/infra
/.devcontainer/ @extralit/infra
/docker/ @extralit/infra
*.Dockerfile @extralit/infra
Tiltfile @extralit/infra
codecov.yml @extralit/infra

# Documentation
*.md @extralit/docs
/argilla/docs/**/* @extralit/docs
/examples/**/* @extralit/docs @extralit/sdk


# Security and legal files
/.github/CODEOWNERS @extralit/core-team
/SECURITY.md @extralit/core-team
/LICENSE @extralit/core-team
/CODE_OF_CONDUCT.md @extralit/core-team
