Repository Extralit/extralit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @extralit/core-team, @extralit/contributors, @extralit/sdk, @extralit/backend, @extralit/frontend, @extralit/ai, @extralit/infra, @extralit/docs

.github/CODEOWNERS:

# Extralit CODEOWNERS File
# Reference: https://docs.github.com/en/repositories/managing-your-work-on-github/about-code-owners

# This file determines who is automatically requested for review when someone
# opens a pull request that modifies code in different parts of the repository.
# The last matching pattern takes precedence.

# Default owners for everything (fallback)
* @extralit/core-team
/argilla/**/* @extralit/contributors
/argilla-server/**/* @extralit/contributors
/argilla-v1/**/* @extralit/contributors

# Python SDK (general files)
/argilla/*.py @extralit/sdk
/argilla/pyproject.toml @extralit/sdk
/argilla/pdm.lock @extralit/sdk

# Python SDK (source and tests)
/argilla/src/**/* @extralit/sdk
/argilla/tests/**/* @extralit/sdk

# Backend Server
/argilla-server/**/* @extralit/backend

# Frontend
/argilla-frontend/**/* @extralit/frontend

# Legacy compatibility layer
/argilla-v1/**/* @extralit/sdk @extralit/backend

# AI/ML-specific code (more specific paths take precedence)
/argilla/src/extralit/extraction/**/* @extralit/ai
/argilla/src/extralit/extraction/**/* @extralit/ai
/argilla/src/extralit/metrics/**/* @extralit/ai
/argilla/src/extralit/preprocessing/**/* @extralit/ai
/argilla/src/extralit/schema/**/* @extralit/ai

# AI services
/argilla/src/extralit/pipeline/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/server/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/storage/**/* @extralit/ai @extralit/backend

# Core infrastructure and configuration files
/.github/workflows/**/* @extralit/infra
/.github/ @extralit/infra
/.devcontainer/ @extralit/infra
/docker/ @extralit/infra
*.Dockerfile @extralit/infra
Tiltfile @extralit/infra
codecov.yml @extralit/infra

# Documentation
*.md @extralit/docs
/argilla/docs/**/* @extralit/docs
/examples/**/* @extralit/docs @extralit/sdk


# Security and legal files
/.github/CODEOWNERS @extralit/core-team
/SECURITY.md @extralit/core-team
/LICENSE @extralit/core-team
/CODE_OF_CONDUCT.md @extralit/core-team

chore: update issue templates to include `type` field for better categorization
  .github/ISSUE_TEMPLATE/bug-python-deployment.yml
  .github/ISSUE_TEMPLATE/bug-ui-ux.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Owners: @extralit/infra

chore: update issue templates to include `type` field for better categorization
  .github/ISSUE_TEMPLATE/bug-python-deployment.yml
  .github/ISSUE_TEMPLATE/bug-ui-ux.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/refactor.yml
Owners: @extralit/infra

Fix merge conflicts in core files
  argilla/src/argilla/settings/_question.py
Owners: @extralit/sdk

Fix merge conflicts in core files
  argilla/src/argilla/settings/_question.py
Owners: @extralit/sdk

refactor: remove unused singleton module and clean up login module documentation
  argilla/src/argilla/client/login.py
  argilla/src/argilla/client/singleton.py
  argilla/src/extralit/__init__.py
Owners: @extralit/sdk

refactor: remove unused singleton module and clean up login module documentation
  argilla/src/argilla/client/login.py
  argilla/src/argilla/client/singleton.py
Owners: @extralit/sdk

refactor: remove unused singleton module and clean up login module documentation
  argilla/src/argilla/client/login.py
  argilla/src/argilla/client/singleton.py
  argilla/src/extralit/__init__.py
Owners: @extralit/sdk

refactor: remove unused singleton module and clean up login module documentation
  argilla/src/argilla/client/login.py
  argilla/src/argilla/client/singleton.py
  argilla/src/extralit/__init__.py
Owners: @extralit/sdk

chore: update authors and maintainers to reflect new contact information for Extralit Labs
  argilla-server/pyproject.toml
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

chore: update authors and maintainers to reflect new contact information for Extralit Labs
  argilla-server/pyproject.toml
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk
