Repository extralit/extralit, changes with the owners that .github/CODEOWNERS names for each.
All owners: @extralit/sdk, @extralit/backend, @extralit/frontend, @extralit/ai, @extralit/infra, @extralit/docs, @extralit/core-team

.github/CODEOWNERS:

# Extralit CODEOWNERS File
# Reference: https://docs.github.com/en/repositories/managing-your-work-on-github/about-code-owners

# This file determines who is automatically requested for review when someone
# opens a pull request that modifies code in different parts of the repository.
# The last matching pattern takes precedence.

# SDK and Core Extraction
/argilla/* @extralit/sdk
/argilla/src/**/* @extralit/sdk
/argilla/tests/**/* @extralit/sdk
/argilla/pyproject.toml @extralit/sdk
/argilla/pdm.lock @extralit/sdk

# Backend Server
/argilla-server/**/* @extralit/backend

# Frontend
/argilla-frontend/**/* @extralit/frontend

# Legacy compatibility layer
/argilla-v1/**/* @extralit/sdk @extralit/backend

# AI/ML-specific code
/argilla/src/extralit/{extraction,metrics,preprocessing,schema}/**/* @extralit/ai
/argilla/src/extralit/pipeline/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/server/**/* @extralit/ai @extralit/backend
/argilla/src/extralit/storage/**/* @extralit/ai @extralit/backend

# Infrastructure and configuration
/.github/** @extralit/infra
/.devcontainer/** @extralit/infra
/docker/** @extralit/infra
*.Dockerfile @extralit/infra
Tiltfile @extralit/infra
codecov.yml @extralit/infra

# Documentation
*.md @extralit/docs
/argilla/docs/**/* @extralit/docs
/examples/**/* @extralit/docs @extralit/sdk

# Security and legal
/.github/CODEOWNERS @extralit/core-team
/SECURITY.md @extralit/core-team
/LICENSE @extralit/core-team
/CODE_OF_CONDUCT.md @extralit/core-team

ci: use `uv` with `pdm install` in `argilla-server.yml`
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

ci: use `uv` with `pdm install` in `argilla-server.yml`
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: update pyarrow and fastparquet dependencies for compatibility across Python versions
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: update pyarrow and fastparquet dependencies for compatibility across Python versions
  argilla/pyproject.toml
Owners: @extralit/sdk

fix: dev dependencies not being automatically installed
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: dev dependencies not being automatically installed
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: remove verbose flag from pdm install commands in workflows
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: remove verbose flag from pdm install commands in workflows
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: streamline dependency installation in workflows and update test commands
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: streamline dependency installation in workflows and update test commands
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: update uv setup action to version 6.1.0 and enable environment activation
  .github/workflows/argilla-server.yml
Owners: @extralit/infra

fix: update uv setup action to version 6.1.0 and enable environment activation
  .github/workflows/argilla-server.yml
Owners: @extralit/infra

fix: downgrade uv setup action to version 5 and enable dev dependencies installation
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: downgrade uv setup action to version 5 and enable dev dependencies installation
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: remove uv setup steps and streamline dependency installation in workflows
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: remove uv setup steps and streamline dependency installation in workflows
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: update argilla workflow to use develop image and streamline dependency installation
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: update argilla workflow to use develop image and streamline dependency installation
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: add skip_on decorator to handle HfHubHTTPError in tests
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  argilla-server/tests/unit/test_utils.py
Owners: @extralit/backend

fix: add skip_on decorator to handle HfHubHTTPError in tests
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  argilla-server/tests/unit/test_utils.py
Owners: @extralit/backend

fix: update Python version requirements in pyproject.toml and enhance uv setup in argilla workflow
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fix: update Python version requirements in pyproject.toml and enhance uv setup in argilla workflow
  .github/workflows/argilla.yml
  argilla/pyproject.toml
Owners: @extralit/infra, @extralit/sdk

fixes
  .github/workflows/argilla.yml
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
Owners: @extralit/infra, @extralit/backend

fixes
  .github/workflows/argilla.yml
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
Owners: @extralit/infra, @extralit/backend

fix: correct import path for skip_on utility in test_hub_dataset_exporter.py
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: correct import path for skip_on utility in test_hub_dataset_exporter.py
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: refactor skip_on decorator and update Python version requirement in pyproject.toml
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  argilla-server/tests/unit/test_utils.py
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: refactor skip_on decorator and update Python version requirement in pyproject.toml
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  argilla-server/tests/unit/test_utils.py
  argilla/pyproject.toml
Owners: @extralit/backend, @extralit/sdk

fix: update PDM configuration to use virtual environments
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: update PDM configuration to use virtual environments
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: update PDM configuration to create and use virtual environments
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: update PDM configuration to create and use virtual environments
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: simplify PDM configuration by removing virtual environment setup
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: simplify PDM configuration by removing virtual environment setup
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: remove uv setup and PDM virtual environment configuration from workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: remove uv setup and PDM virtual environment configuration from workflow
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: update pdm.lock
  argilla-server/pdm.lock
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  argilla/pdm.lock
Owners: @extralit/backend, @extralit/sdk

fix: update pdm.lock
  argilla-server/pdm.lock
  argilla-server/tests/unit/contexts/hub/test_hub_dataset_exporter.py
  argilla/pdm.lock
Owners: @extralit/backend, @extralit/sdk

fix: enhance PDM configuration to support uv installation and caching
  .github/workflows/argilla.yml
Owners: @extralit/infra

fix: enhance PDM configuration to support uv installation and caching
  .github/workflows/argilla.yml
Owners: @extralit/infra
